/* Mockup of some of the styles for the Student CMS thing. That's my excuse for any messy HTML/CSS */

*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

a:link, a:active, a:visited {
	color: #517aba;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #28313f;
	color: #28313f;
	padding-bottom: 5px;
}

.container {
	width: 100%;
	height: 100%;
}

.message {
	background: #2241c9;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.08);
	color: #ffffff;
	width: 100%;
	padding: 20px;
	position: absolute;
	line-height: 1.5;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

.message.error {
	background: #ef4747;
}

.message.success {
	background: #42bc8f;
}

.modal {
	width: 335px;
	height: auto;
	margin-left: -165px;
	margin-top: -130px;
	position: absolute;
	padding: 15px;
	top: 50%;
	left: 50%;
}


.modal p {
	color: #6c6c6c;
	font-size: 1em;
	line-height: 1.2;
	padding: 5px;
}

.modal a {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

.modal input:first-child {
	margin-top: 0;
}

.modal input {
	width: 100%;
}

.modal .button {
	background: #28313f; /*#3985dd #31c09c #0d161a*/
	font-weight: bold;
	height: 65px;
	margin-top: 15px;
	text-transform: uppercase;
}

.modal .button.confirm {
	background: #28313f url("../images/tick-green.png") center no-repeat;
	background-size: 60px 60px;
}

/* register, login or forgot IDs can be used to change the form layout/text */
.modal#login .firstname, .modal#login .surname {
	display: none;
} 

.modal#forgot .firstname, .modal#forgot .surname, .modal#forgot .password {
	display: none;
}

.modal#login a.forgot:before {
	content: "Forgot password?";
}

.modal#register a.forgot:before {
	content: "Got an account? Log in here";
}

.modal#forgot a.forgot:before {
	content: "I can remember my password!";
}

input {
	background: #ffffff;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0);
	color: 28313f;
	display: block;
	font-size: 1em;
	padding: 20px;
	margin: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

input:focus {
	border: 2px solid #28313f;
}

input.error {
	color: #ec3636;
	-webkit-animation: SHAKE 1.1s;
	-moz-animation: SHAKE 1.1s;
	-ms-animation: SHAKE 1.1s;
}

/* Portrait and Landscape */
@media only screen and (max-width: 480px) {
	.modal { 

	}
}

/* Keyframe Animations */
@-webkit-keyframes SHAKE {
	0%   { background: #ec3636; margin-left: 10px; color: #ffffff;}
	10%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	20%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	30%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	40%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	50% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	70% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	100% { background: #ffffff;  margin-left: 0px; color: #ec3636;}
}

@-moz-keyframes SHAKE {
	0%   { background: #ec3636; margin-left: 10px; color: #ffffff;}
	10%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	20%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	30%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	40%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	50% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	70% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	100% { background: #ffffff;  margin-left: 0px; color: #ec3636;}
}

@-ms-keyframes SHAKE {
	0%   { background: #ec3636; margin-left: 10px; color: #ffffff;}
	10%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	20%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	30%  { background: #ec3636; margin-left: -10px; color: #ffffff;}
	40%  { background: #ec3636; margin-left: 10px; color: #ffffff;}
	50% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	70% { background: #ec3636;  margin-left: 0px; color: #ffffff;}
	100% { background: #ffffff;  margin-left: 0px; color: #ec3636;}
}